<h1>My Cart</h1>
<table border="1">
    <thead>
        <td>Title</td>
        <td>Description</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Remove</td>
    </thead>
    <tbody>
        {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.quantity}}</td>
                <td><a href="/{{this.cart._id}}/product/:{{this.id}}">Remove</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>



